.wrapper {
  height: 400px;
}

.card {
  margin: 30px 10px;
  border-radius: 1rem;
  box-shadow: 0 2px 20px #e1e5ee;
}

.card-bookmark {
  height: 25px;
  padding: 5px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.btn-bookmark {
  background-color: transparent;
}

.card-bookmark .icon {
  color: var(--white);
  font-size: large;
  cursor: pointer;
}

.card-bookmark .icon.active {
  color: yellow;
}

.card-header {
  display: flex;
  border-bottom: 3px solid #eee;
}

.card-title {
  font-size: 25px;
  font-weight: 900;
  margin: 0px auto 25px auto;
  color: #fff;
}

.box {
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 10px;
  font-weight: 700;
  width: fit-content;
}
.N1 {
  background-color: #ff595e;
}
.N2 {
  background-color: #ffca3a;
}
.N3 {
  background-color: #8ac926;
}
.N4 {
  background-color: #1982c4;
}
.N5 {
  background-color: #6a4c93;
}

.card-content {
  display: inline-flex;
  align-items: center;
  border-bottom: 3px solid #eee;
  width: 100%;
  font-weight: 500;
}

.content {
  width: 15%;
}

.text {
  margin-right: 10px;
}

.example,
.structure {
  display: flex;
  flex-direction: column;
}

.card-footer {
  height: 10px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
