.menu-list {
  width: 224px;
  .menu-item {
    margin-left: 0;
  }
}

.menu-item {
  border-radius: 0;
  width: 100%;
  justify-content: flex-start;
  font-weight: 500;
  padding: 11px 16px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
