.wrapper {
  margin: 10px;
  border-radius: 1rem;
  background-image: url("../../../public/img/profile_bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

.item {
  font-size: 2rem;
  padding: 4px 12px;
  margin-left: 100px;
}
.input {
  width: 350px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  display: flex;

  &:focus {
    outline: none;
    border: 2px solid var(--primary);
  }
}
.btn {
  margin-inline-start: 500px;
}
.user-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 250px;
}
