.wrapper{
  display: flex;
}
.card {
  padding: 10px;
  margin: 20px;
  height: auto;
  margin-left: 20px;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 1rem;
  border: 0.1rem solid var(--primary);
  width: 400px;
}

.image {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
